@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #F5F5F5;
  
  /* Definimos tus colores SyF acá para que Tailwind 4 los tome nativamente */
  --color-syf-red: #D62828;
  --color-syf-dark: #121212;
  --color-syf-gray: #1E1E1E;
  --color-syf-light: #F5F5F5;
}

/* Configuramos el tema para usar tus variables */
@theme {
  --color-syf-red: var(--color-syf-red);
  --color-syf-dark: var(--color-syf-dark);
  --color-syf-gray: var(--color-syf-gray);
  --color-syf-light: var(--color-syf-light);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}